@font-face {
    font-family: Hanken;
    src: url(../fonts/HankenGrotesk-Regular.woff2);
    font-weight: 400 600 900;
    font-style: normal;
    font-display: swap;
}

.light-red {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.116);
}

.Orangey-yellow {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.11);
}

.Green-teal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.116);
}

.Cobalt-blue {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.137);
}

.Light-blue {
    color: hsl(252, 83%, 39%);
    background-color: hsla(252, 100%, 67%, 0.116);
}


body {
    font-family: Hanken;
    display: flex;
    justify-content: center;


}

.test-box {


    display: grid;
    grid-template-columns: repeat(2, 27vw);
    grid-template-rows: minmax(35vh, 74vh);
    grid-auto-flow: row;
    margin-top: 15vh;
    overflow: visible;



}











.your-result-box {
    /* background: linear-gradient(to bottom, #070238, #4746a5); */
    background-color: rgb(30, 30, 250);
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;

}













.summary {
    background-color: rgb(252, 246, 238);
    z-index: 0;
    position: relative;
    left: -30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}






































.box__header {
    text-align: center;
    font-size: 2em;
    margin: 10%;
    color: rgb(176, 194, 194);
    font-weight: 600;
}

.box_value {

    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: linear-gradient(to top, rgba(75, 54, 243, 255), rgba(56, 47, 236, 255));
    box-shadow: inset 10px 170px 120px -40px rgba(40, 16, 237, 255);

    color: rgba(134, 121, 255, 255);
    margin: auto;
}


.box_value>strong {
    font-size: 5vw;
    color: azure;
    margin: 10% 10% 20% 7%;
}

.box_value>strong::before {
    content: 'of 100';
    font-size: 1.4vw;
    position: relative;
    top: 40px;
    left: 45%;
    color: rgba(255, 235, 205, 0.466);
}

.great {
    font-size: 2.4vw;
    display: block;
    text-align: center;
    margin: 7% 8%;
    color: rgb(230, 230, 220);
}

.result-box__title {
    text-align: center;
    font-size: 1.3vw;
    margin: 10% 60px;
    color: antiquewhite;
    line-height: 110%;
}
 









































.grid-table>tbody {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: repeat(4, minmax(5vh, 8vh));
    width: 100%;
    gap: 25px;
    margin: 0% 0% 16% 4%;

}


.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 13px;
    transition: all 400ms ease-in-out;

}


.row__cage:nth-child(1) {
    font-size: 1.3vw;
    margin-right: 60%;
}

.row__cage>strong {
    color: rgb(9, 9, 71);
    font-size: 1.3vw;
    position: absolute;
    right: 15%;
}

.row__cage>:nth-child(2)::after {
    content: '/100';
    color: rgba(128, 128, 112, 0.822);
    font-size: 1.3vw;
    position: relative;
    right: -7%;

}

























.row1:before {
    content: url(/images/reaction.svg);

}

.row2::before {
    content: url(/images/brain.svg);

}

.row3::before {
    content: url(/images/verbal.svg);

}

.row4::before {
    content: url(/images/visual.svg);

}
.row:hover{
    transform: scale(1.1);
}









.btn {
    align-self: flex-end;
    position: absolute;
    bottom: 13%;
    right: 10%;
    background-color: rgb(66, 66, 109);
    width: 20vw;
    height: 8vh;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
    transition: all 500ms ease-in-out;
    transition: all 400ms ease-in;
}

.btn:hover {
    background-color: blue;
    transform:scale(1.1);
}






















.header-text {
    align-self: flex-start;
    position: absolute;
    font-size: 2vw;
    font-weight: 900;
    top: 10%;
    left: 16%;
}













@media screen and (max-width:1700px) and (min-width:1400px){
    body{
        
    }
    .test-box {
       
        grid-template-rows:  minmax(45vh, 65vh);
        grid-template-columns: repeat(2, 27vw);
    }

    .grid-table>tbody{
  
        grid-template-columns: 20vw;
        grid-template-rows: repeat(4, minmax(5vh, 6vh));
      
    }
    .btn{
       
        height: 6vh;  
    }
    .result-box__title{
        font-size: 1.7vw;
        margin: 8% 10%;
    }
    .great{
        margin-top: 7%;
    }
    

}

@media screen and (max-width:1400px) and (min-width:1300px) {
   .result-box__title{
    font-size: 150%;

   } 
   .header-text{
    margin-top: -3%;
   }
   .grid-table>tbody{
    display: grid;
    margin-top: 1%;
    gap: 12%;
   }
   .btn{
    position:absolute ;
    height: 7vh;
    bottom: 6%;
   }
   .test-box{
    grid-template-rows:  minmax(50vh, 60vh);
   }
   .row{
    height: 6vh;
   }
   .result-box__title{
    margin: 15% 10%;
   }
   .great{
    margin-top: 10%;
   }
}

@media screen and (max-width:1300px) and (min-width:1170px){
    .test-box{
        grid-template-rows:  minmax(40vh, 100vh);
        grid-template-columns: repeat(2, 35vw);
        }
        
        .grid-table>tbody{
            grid-template-rows: repeat(4, 6.5vh);
         margin: auto;
         
        }
        .row{
            width: 24vw;
            
        }
        .row__cage:nth-child(1){
            font-size: 1.8vw;
        }
     
        .btn{
            bottom: 6%;
            left: 22%;
            width: 24vw;
        }
        .great{
            font-size: 3.5vw;
            margin-top: 10%;

        }
        .result-box__title{
            font-size: 2.1vw;
            margin: 10% 10%;
        }
        .header-text{
            margin: -1% 7%;
        }
}

@media screen and (max-width:1170px) and (min-width:800px){
    

}