@font-face {
    font-family: Hanken;
    src: url(../fonts/HankenGrotesk-Regular.woff2);
    font-weight: 400 600 900;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: Hanken;
    display: flex;
    justify-content: center;

    
}

.test-box{
    
   
    display: grid;
    grid-template-columns: repeat(2,27vw);
    grid-template-rows:minmax(50vh,70vh);
    grid-auto-flow: row;
    margin-top: 15vh;
    
   
    
}
.your-result-box{
    /* background: linear-gradient(to bottom, #070238, #4746a5); */
    background-color: rgb(30, 30, 250);
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;
   
}
.summary{
    background-color: blanchedalmond;
    z-index: 0;
    position: relative;
    left: -30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box__header{
    text-align: center;
    font-size: 2.3em;
    margin: 10%;
    color: rgb(176, 194, 194);
    font-weight: 600;
}
.box_value{
 
    width: 15vw; 
    height: 15vw;
    border-radius: 50%; 
    display: flex;
    justify-content:start;
    align-items: center;
    background-color: linear-gradient(to top, rgba(75, 54, 243, 255), rgba(56, 47, 236, 255));
    box-shadow: inset 10px 170px 120px -40px rgba(40, 16, 237, 255);

    color: rgba(134, 121, 255, 255);
    margin: auto;
} 


.box_value>strong{
    font-size: 5vw;
    color: azure;
   margin: 10% 10% 20% 7%;
}
.box_value>strong::before{
    content: 'of 100';
    font-size: 1.4vw;
    position: relative;
    top: 40px;
    left: 45%;
    color: rgba(255, 235, 205, 0.466);
}
.great{
    font-size: 2.4vw;
    display: block;
    text-align: center;
    margin: 7% 8%;
    color: rgb(230, 230, 220);
}
.result-box__title{
    text-align: center;
    font-size: 1.4vw;
    margin: auto 70px;
    color: antiquewhite;
    line-height: 120%;
}


.grid-table>tbody{
    display: grid;
    grid-template-columns:20vw;
    grid-template-rows: repeat(4,37%);
    width: 100%;
    gap: 25px;
}


.row{
    display: flex;
    align-items: center;
    background-color: rgb(168, 189, 189);
    justify-content: center;
}
.row__cage{
    font-size: 1.3vw;
}
.row:first-child::before{
    content: url(/images/reaction.svg);
    margin-left:-30% ;
    margin-right: 5%;
 
}
.row2::before {
 content: url(/images/brain.svg);
 margin-left:-30% ;
 margin-right: 5%;
 



}
.row3::before{
    content: url(/images/verbal.svg);
margin-left:-30% ;
margin-right: 5%;

}
.row4::before{
    content: url(/images/reactionNEWNEW.svg);
    margin-left:-30% ;
    margin-right: 5%;
    
    
}