@font-face {
    font-family: Hanken;
    src: url(../fonts/HankenGrotesk-Regular.woff2);
    font-weight: 400 600 900;
    font-style: normal;
    font-display: swap;
}















body{
    font-family: Hanken;
    display:flex;
    justify-content: center;
   
}


.test-box{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: auto;
    margin: 0%;
 
}





.result-section .summary-section{
  
}







                /* CОЗДАНИЕ ДВУХ СЕКЦИЙ КОНТЕНТА  В НУТРИ БОКСА  TEST-BOX */
/* ______________________________________________________________________________________________________________________________ */
.result-section{
    background-color: rgb(62, 62, 247);
    border-radius: 30px;
    height:auto;
    max-height: 80vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    justify-items: center;
    position: relative;
    left: 85px;
}
.summary-section{
   background-color: rgba(247, 243, 243, 0.76);
    z-index: 0;
    position: relative;
    left: 5px;
    width: 85%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}








                                        /* квадратный бокс с кругом в нутри \ */
/* ___________________________________________________________________________________________________________________________________________ */



.circl-of-value{
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: linear-gradient(to top, rgba(75, 84, 243, 255), rgba(56, 47, 236, 255));
    box-shadow: inset 10px 170px 120px -110px rgba(40, 16, 237, 255);
    color: rgba(134, 121, 255, 255);
    padding: 5%;
}
.box-circl>.circl-of-value>strong{
    font-size: 60px;
    color: rgb(252, 252, 252); 
}
.box-circl>.circl-of-value>span{
    color: rgb(177, 188, 197);
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}
.box-circl{
    width: 176px;
    height:176px;
}












                    /* стилизация текстового контента в блоке SUMMARY-SECTION */

/* _________________________________________________________________________________________________________________ */

.great{
  font-size: 30px;
  font-weight: 900;
  position: relative;
  top: 32px;
  color: rgb(226, 226, 207);
}
.result-section>p{
    font-size: 17px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin: 36px 30px 34px 30px;
    color: rgb(188, 202, 202);
    line-height: 1.1;
}
.line__header{
    text-align: center;
    margin: 35px auto;
    font-weight: 600;
}
.result-section>.line__header{
color: rgb(195, 209, 209);
font-size: 20px;

}













            /* позиционирование бокса с таблицей и создание рядов с елементами В БОКСЕ SUMMARY-SECTION*/
/* _______________________________________________________________________________________________________________________________________ */
.grid-table{
    position: relative;
    top: -40px;
    left: 15px;
}

.grid-body{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6,auto);
    gap: 15px;

}
.grid-body__row{
    border-radius: 10px;
    display: flex;
    width: 250px;
    height: 50px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
}




                            /* позиционирование внутренних элементов ряда И САМИХ РЯДОВ */
/* __________________________________________________________________________________________________________________________________________ */


.grid-body__row>th{
    position: relative;
}
.grid-body__row>th:nth-child(1){
left:-15px;
}
.grid-body__row>th:nth-child(2){
    left: -30px;
}
.grid-body__row>th:nth-child(3){
    left: 35px;
    color: rgb(10, 10, 104);
    font-weight: 700;
    font-size: 16px;
}
.grid-body__row>th:nth-child(4){
    right: -15px;
    color: rgb(145, 157, 167);

}
.grid-body>tr:first-child{
    position: relative;
    right:85px;
    top: 25px;
    font-size: 20px;
}
.grid-body>.grid-body__row>th>.btn{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(47, 55, 100);
    color: aliceblue;
    font-size: 16px;
    margin-top: 40px;
    transition: all .8s ease;
    
}
.grid-body>.grid-body__row>th>.btn:hover{
    background-color: rgb(21, 21, 197);
    transform: scale(1.04);

}















/* ЦВЕТОВЫЕ КЛАССЫ ДЛЯ РЯДОВ В СЕКЦИИ SUMMARY-SECTION */
/* _______________________________________________________________________________________________________________________________________________________________ */
.light-red {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.096);
}

.Orangey-yellow {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.075);
}

.Green-teal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.075);
}

.Cobalt-blue {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.082);
}

.Light-blue {
    color: hsl(252, 83%, 39%);
    background-color: hsla(252, 100%, 67%, 0.116);
}


